.button{
	 -fx-tooltip-visible: true ;
	-fx-min-width: 24;
	-fx-border-width: 0;
    -fx-background-image: url("@/resource/images/folder.png");
    -fx-border-style: none ;
}

#folder{
    -fx-tooltip-visible: true ;
	-fx-min-width: 24;
	-fx-border-width: 0;
    -fx-background-image: url(resource/images/folder.png) ;
    -fx-border-style: none ;
}